body
{
    background-color:beige;
    border: 2px;
    border-color: blueviolet;
    
}



p
{
    margin-right: 200px;
    border: 5px;
    border-color:deeppink;
    border-style: dotted;
}

header
{
    text-align: center;
    color: brown;
    text-decoration: dotted;
}